# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos y carpetas generados automáticamente
.ipynb_checkpoints/
__pycache__/
*.log
*.tmp

# Entornos virtuales
env/
venv/
.venv/
.env/

# Archivos grandes o generados
*.log
results/

# Archivos de IDEs
.vscode/
.idea/
*.iml

# Ignorar la carpeta bluebook-for-bulldozers
data/raw/scikit-learn-data/bluebook-for-bulldozers/
data/processed/bluebook-for-bulldozers/

# Ignorar todos los archivos dentro de la carpeta bluebook-for-bulldozers
data/raw/scikit-learn-data/bluebook-for-bulldozers/*
data/processed/bluebook-for-bulldozers/*

# No ignorar el archivo bluebook-for-bulldozers.zip
!data/raw/scikit-learn-data/bluebook-for-bulldozers.zip
